@import url('https://fonts.googleapis.com/css?family=Poppins');

/* komentarz*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	//margin: 0;
	//padding: 0;
	//border: 0;
	//font-size: 16px;
	//font: inherit;
	//vertical-align: baseline;
	//box-sizing: border-box;
}



* {
  box-sizing: border-box;
}

body {
  background-color: #e7ecf5;
}

h5 {

 transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                position:relative;
								line-height: 16px;
                //top:25px;
                left: 12px;
                //display:inline-block;
                color:#ffffff;
								text-shadow: 0 1px 1px 0 rgba(153,153,153,0.45);
                text-transform:uppercase;
								font-family: 'Poppins', sans-serif;
								font-size: 10px;

}


h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #474747;
	line-height: 21px;
	height: 40px;
	width: 199px;
}
.main {
		font-family: 'Poppins', sans-serif;
		font-size: 10px;
		line-height: 16px;
		padding-top: 12px;
		padding-bottom: 12px;//text-align: center;
		left:-30px;

		p {
			margin-bottom: 0px;
		}
}
.text {
	display: inline-block;
}

.oval {
	height: 7px;
	width: 7px;
	background-color: #FFBE33;
	border-radius: 50%;
	display:inline-block;
	margin-left: 2px;
	margin-right: 3px;
}

.rectangle {
	height: 75px;
	width: 1px;
	border: 1px solid #979797;
	opacity: 0.2;
	background-color: #D8D8D8;
	margin-top: 17.5px;
	left: 318px;
}

.rectangle-2 {
	height: 75px;
	width: 1px;
	border: 1px solid #979797;
	opacity: 0.2;
	background-color: #D8D8D8;
	margin-top: 17.5px;
	left: 467px;
}

.second-column {

	text-align: center;

	h4{
		display: inline-block;
		text-align: center;
		height: 28px;
		width: 53px;
		color: #D83550;
		font-family: Poppins;
		font-size: 20px;
		line-height: 30px;
		margin-top:25px;
	}
	p {
		font-size: 10px;
		color: #474747;
	}
	span {
		font-size: 10px;
		color: #474747;
		display: inline-block;
	}
}

.percent {
	height: 28px;
	//width: 59px;
	//display: inline-block;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 8px;
	color: #474747;
	font-family: Poppins;
	font-size: 20px;
	line-height: 30px;
}

.small-text {

		font-size: 10px;
		text-align: center;

}


.outer {
	margin-top: 50px;
	//height: 110px;
	background-color: white;
	border-left: 20px solid #ffbe33;
	position: relative;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

button {
  padding: 10px;
  border-radius: 5px;
	border-width: 0;
  color: white;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 34px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32e4f+0,f76258+100 */
background: #d32e4f; /* Old browsers */
background: -moz-linear-gradient(left, #d32e4f 0%, #f76258 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #d32e4f 0%,#f76258 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #d32e4f 0%,#f76258 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32e4f', endColorstr='#f76258',GradientType=1 ); /* IE6-9 */
  transition: all .2s ease-in-out;
}

button:hover {
  padding: 10px;
  border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  transform: scale(1.1);
}

.icons {
	text-align: center;
	margin-top: 5px;
}

.icons-mobile {
	display: none;
}


.eye-icon:hover  {
	//display: block;
	//color: green;

	//display: block;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   background: url(../img/okohover.png) no-repeat;
   width: 26px; /* Width of new image */
   height: 20px; /* Height of new image */
   //padding-left: 180px;


}

.first {
	position: relative;
	padding-right: 25px;
}

.first:after {
	content : "";
	position: absolute;
	right    : 0;
	z-index: 100;
	top  : 25%;
	width  : 1px;
	height   : 60%;  /* or 100px */
	background: #D8D8D8;
}



.second:after, .third:after, .fourth:after, .sixth:after, .seventh:after, .eighth:after, .nineth:after {
	content : "";
	position: absolute;
	right    : 0;
	z-index: 100;
	top  : 20%;
	width  : 1px;
	height   : 60%;  /* or 100px */
	background: #D8D8D8;
}

@media (max-width: 1200px) and (min-width: 768px){
	.container {
    min-width: 100%;
	}
	button  {
		width: 85%;
		display: flex;
  justify-content: center;
  align-items: center;
	}
	.main, .second-column{
		-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
		text-align: -webkit-center;
		left: 0;

		h4 {
			width: auto;
			height: auto;
		}

	}
	.second-column h4 {
		font-size: 50px;
	}
	.tablet-view {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666666%;
		flex: 0 0 16.666666%;
		min-width: 16.666666%;
		text-align: -webkit-center;
		left: 0;
		}
	.pasek {
		padding-right: 250px;
		margin-left: -170px;
		//top: 25px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {

 .col-md-12 {
	 -webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
 }
 .col-lg-2 {
	 -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
 }
.main {
	//text-align: center;
	//left: 0;
}
}

@media (min-width: 992px) and (max-width: 1200px) {

.col-md-12 {
	-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
	}
	.main {
		//text-align: center;
		//left: 0;
	}
}

@media (max-width: 767.98px) {

	h4 {
		display: inline-block;
	}

	#second-text {
		display: none;
	}

	.mobile-invisible  {
		display: none;

	}
	.col-md-4 {
		flex:none !important;
	}

	.mobile-data {
    width: 32%;

	}

	.main {
		width: 100%;
		padding-left: 15px;
	}

	.percent {
		width: auto;
		display: block;
	}

	button {
		width: 100%;
		margin-top: 0;
		margin-bottom: 15px;
		border-width: 0;

	}

	button:hover {
	  padding: 10px;
	  //border-radius: 5px;
	  -webkit-box-shadow: 1px 1px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	  -moz-box-shadow:    1px 1px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
	  box-shadow:         1px 1px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	  transform: scale(1.02);
	}

	.pasek {
		padding-right: 250px;
		margin-left: -170px;
		//top: 25px;
	}

	.rectangle {
		display: none
	}
	.rectangle-2 {
		display: none
	}



	.first {
		order: 1;
		position: static !important;
	}

	.first:after {
		content : "";
	 position: absolute;
	 right    : 0;
	 z-index: 100;
	 top  : 25%;
	 width  : 0px !important;
	 height   : 60%;  /* or 100px */
	 background: #D8D8D8;
	}

	.second {
		order: 3;
		position: relative;
		border-top: 1px solid #D8D8D8;
		margin-left: 4%;
	}

	.second:after {
	  content : "";
	  position: absolute;
	  right    : 0;
	  z-index: 100;
	  top  : 25%;
	  width  : 1px;
	  height   : 60%;  /* or 100px */
	  background: #D8D8D8;
}
	.third {
		order: 4;
		position: relative;
		border-top: 1px solid #D8D8D8;
	}

	.third:after {
	  content : "";
	  position: absolute;
	  right    : 0;
	  z-index: 100;
	  top  : 25%;
	  width  : 1px;
	  height   : 60%;  /* or 100px */
	  background: #D8D8D8;
}
	.fourth {
		order: 5;
		position: relative;
		//border-top: 1px solid #D8D8D8;
	}

	.fourth:after {
		content : "";
	  position: absolute;
	  left    : 0;
	  z-index: 100;
	  top  : 0;
	  width  : 90%;
	  height   : 1%;  /* or 100px */
	  background: #D8D8D8;
}
	.fifth {
		order: 2;
	}
.icons {
	display: none;
}

.icons-mobile {
		display: inline-block;
		vertical-align: top;
		position:absolute;
		top: 14%;
		left: 87%;
	}
	.eye-icon {
	  position:relative;
	}
	eye-icon:hover {
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 26px;
	  height: 20px;
	}

	.eye-icon-hover {
	  opacity:0;
	  position:absolute;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 26px;
	  height: 20px;
	  //top:68px;
	  left:15px
	}

	.eye-icon-hover:hover {
	  opacity:1;
	  position:absolute;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 26px;
	  height: 20px;
	  //top:68px;
	  left:15px;





}




@media (min-width: 576px) {

.col-sm-4 {
	flex:none !important;
	}
}



@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.col-sm-4 {
			flex:none !important;
			}
			.mobile-invisible  {
				display: none;

			}
			.col-md-4 {
				flex:none !important;
			}

			.mobile-data {
				width: 32%;

			}

			.main {
				width: 100%;
			}

			button {
				width: 100%;
				border-width: 0;
			}

			button:hover {
			  padding: 10px;
			  border-radius: 5px;
			  -webkit-box-shadow: 1px 1px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
			  -moz-box-shadow:    1px 1px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
			  box-shadow:         1px 1px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
			  transform: scale(1.02);
			}

			.pasek {
				padding-right: 250px;
				margin-left: -170px;
				//top: 25px;
			}

			.rectangle {
				display: none;
			}

			.rectangle-2 {
				display: none
			}

			.first {
				order: 1;
				position: static !important;
			}

			.first:after {
				content : "";
			 position: absolute;
			 right    : 0;
			 z-index: 100;
			 top  : 25%;
			 width  : 0px !important;
			 height   : 60%;  /* or 100px */
			 background: #D8D8D8;
			}

			.second {
				order: 3;
				position: relative;
				border-top: 1px solid #D8D8D8;
				margin-left: 4%;
			}

			.second:after {
		  content : "";
		  position: absolute;
		  right    : 0;
		  z-index: 100;
		  top  : 25%;
		  width  : 1px;
		  height   : 60%;  /* or 100px */
		  background: #D8D8D8;
		}
			.third {
				order: 4;
				position: relative;
				border-top: 1px solid #D8D8D8;
			}

			.third:after {
		  content : "";
		  position: absolute;
		  right    : 0;
		  z-index: 100;
		  top  : 25%;
		  width  : 1px;
		  height   : 60%;  /* or 100px */
		  background: #D8D8D8;
		}
			.fourth {
				order: 5;
				position: relative;
				//border-top: 1px solid #D8D8D8;
			}

			.fourth:after {
				content : "";
			  position: absolute;
			  left    : 0;
			  z-index: 100;
			  top  : 0;
			  width  : 90%;
			  height   : 1%;  /* or 100px */
			  background: #D8D8D8;
		}
			.fifth {
				order: 2;
			}
			.icons-mobile {

					position:absolute;
					top: 14%;
					left: 87%;
				}
			}

}
